{% extends "main.html" %}

{% block content %}
<div class="container" style="margin-left:30px; margin-top:300px">
<div class='card card-inverse text-center w-75 rounded border-3' style="background-color: #343a40; border-color: #333;">
    <div class="card-title"></div>
    <p style="font-family: 'Merienda One', cursive; font-size:50px" class="card-text">Hola Moni</p>
    <p style="font-family: 'Merienda One', cursive; font-size:50px" class="card-text">Bienvenida a Monoamie</p>
</div>
</div>
</div>

{% endblock content %}
