{% extends "main.html" %}

{% block content %}

    
    <form class="form-signin" action="" method="post" style="position: relative; margin-top:100px">
        <h1 class="form-signin-heading">Por favor entre sus credenciales</h1>
        {{form.hidden_tag()}}
        <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        <p>
            {{form.password.label }}<br>
            {{form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    
{% endblock %}


    