{% extends "main.html" %}


{% block content %}
      
    <table class="table table-responsive table-hover" style="position: relative; margin-top:100px">
      <thead class="thead-inverse thead-light" style='background-color:#343a40;'>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Segundo Apellido</th>
            <th>Telefono directo</th>
            <th>Cumpleanos</th>
            <th>Grado</th>
            <th>Encargado 1</th>
            <th>Telefono Encargado 1</th>
            <th>Encargado 2</th>
            <th>Telefono Encargado 2</th>
            <th>Direccion</th>
            <th>CourseID</th>

    </tr>
    </thead>
    <tbody>

        {% for row in data %}
            <tr>
            {% for d in row %}
               <td style ="word-break:break-all;">{{ d }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>

    
{% endblock %}