{% extends "main.html" %}


{% block content %}


         
<table class="table table-responsive table-hover" style="position: relative; margin-top:100px">
    <thead  style='background-color:#343a40; color:white'>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Segundo Apellido</th>
            <th>Telefono directo</th>
            <th>Encargado 1</th>
            <th>Telefono secundario</th>
            <th >Schedule ID</th>
    </tr>
    </thead>
    <tbody>

        {% for row in data %}
            <tr>
            {% for d in row %}
               <td style ="word-break:break-all;">{{ d }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>

    
{% endblock %}