{% extends "main.html" %}


{% block content %}

<div class="container" style="position: absolute; margin-top:100px" >
         
    <table class="table table-responsive table-hover">
      <thead class="thead-inverse" style="position: sticky">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Segundo Apellido</th>
            <th>Telefono directo</th>
            <th>Encargado 1</th>
            <th>Telefono Encargado 1</th>
            <th >Encargado 2</th>
            <th >Telefono Encargado 2</th>
            <th >Direccion</th>
            <th >ID Estudiante</th>
    </tr>
    </thead>
    <tbody>

        {% for row in data %}
            <tr>
            {% for d in row %}
               <td>{{ d }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>

    </div>
    
{% endblock %}