{% extends "main.html" %}


{% block content %}

<div class="container" style="position: absolute" >
         
    <table class="table table-hover">
      <thead style=" position: -webkit-sticky; position: sticky; top: 0;">
        <tr>
            <th width: 9%>Nombre</th>
            <th width: 9%>Apellido</th>
            <th width: 9%>Segundo Apellido</th>
            <th width: 9%>Telefono directo</th>
            <th width: 9%>Encargado 1</th>
            <th width: 9%>Telefono Encargado 1</th>
            <th width: 9%>Encargado 2</th>
            <th width: 9%>Telefono Encargado 2</th>
            <th width: 9%>Direccion</th>
            <th width: 9%>ID Estudiante</th>
    </tr>
    </thead>
    <tbody>

        {% for row in data %}
            <tr>
            {% for d in row %}
               <td>{{ d }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>

    </div>
    
{% endblock %}