{% extends "main.html" %}


{% block content %}

<div class="container">
         
    <table class="table-responsive table-hover header-fixed">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Segundo Apellido</th>
            <th>Telefono directo</th>
            <th>Encargado 1</th>
            <th>Telefono Encargado 1</th>
            <th>Encargado 2</th>
            <th>Telefono Encargado 2</th>
            <th>Direccion</th>
            <th>ID Estudiante</th>
    </tr>
    </thead>
    <tbody>

        {% for row in data %}
            <tr>
            {% for d in row %}
               <td class="filterable-cell">{{ d }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    
{% endblock %}