{% extends "main.html" %}
{% block content %}

<style>
.container {
	width: 1024px;
	padding: 2em;
}

.bold-blue {
	font-weight: bold;
	color: #0277BD;
}
</style>


<div id="toolbar" style='position: relative; margin-top:100px'>
		<select class="form-control">
				<option value="">Export Basic</option>
				<option value="all">Export All</option>
				<option value="selected">Export Selected</option>
		</select>
</div>

<table id="table"
             class="table table-responsive table-hover" 
			 data-toggle="table"
			 data-search="true"
			 data-filter-control="true" 
			 data-show-export="true"
			 data-click-to-select="true"
			 data-toolbar="#toolbar"
			 style='position: relative; margin-top:200px'>
	<thead>
		<tr>
			<th data-field="state" data-checkbox="true"></th>
			<th data-field="profenombre" data-filter-control="input" data-sortable="true" style ="word-break:break-all;">profenombre</th>
			<th data-field="profeapellido" data-filter-control="input" data-sortable="true" style ="word-break:break-all;">profeapellido</th>
			<th data-field="profeid" data-filter-control="input" data-sortable="true" style ="word-break:break-all;">profeid</th>
			<th data-field="profeemail" data-filter-control="input" data-sortable="true" style ="word-break:break-all;">profeemail</th>
			<th data-field="profephone" data-filter-control="input" data-sortable="true" style ="word-break:break-all;">profephone</th>
			<th data-field="profecurso" data-filter-control="input" data-sortable="true" style ="word-break:break-all;">profecurso</th>
			<th data-field="profedia" data-filter-control="input" data-sortable="true" style ="word-break:break-all;">profedia</th>
			<th data-field="profehorariostart" data-filter-control="input" data-sortable="true" style ="word-break:break-all;">profehorariostart</th>
			<th data-field="profehorariosend" data-filter-control="select" data-sortable="true" style ="word-break:break-all;">profehorariosend</th>
			<th data-field="courseID" data-filter-control="select" data-sortable="true" style ="word-break:break-all;">courseID</th>
		</tr>
	</thead>
	<tbody>
	{% for row in data %}
            <tr>
            {% for d in row %}
               <td style ="word-break:break-all;" class="bs-checkbox "><input data-index=loop.index name="btSelectItem" type="checkbox">{{ d }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
	</tbody>
</table>
</div>

<script>
//exporte les données sélectionnées
var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    })

		var trBoldBlue = $("table");

	$(trBoldBlue).on("click", "tr", function (){
			$(this).toggleClass("bold-blue");
	});
</script>



{% endblock %}